@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #333;
    color: #222;
}
.container{
    background-color:#fafafa ;
}
.container.show-nav{
    transform: rotate(-20deg);
}